/*
font-family: 'Maiden Orange', cursive;
font-family: 'Vast Shadow', cursive;
font-family: 'Zilla Slab', serif;
*/

body {
  background-color: #fffde7;
  font-size: 1rem;
  font-family: 'Zilla Slab', serif;
}

.my-container {
  padding: 1rem;
  margin: 0 5% 0 5%;
}

/* HEADER STYLES*/
.title-container {
  text-align: center;
  background-image: url("../images/pexels-photo-131685.jpeg");
  margin: 0;
  padding: 1rem;
  border-bottom: 0.5rem solid #663d00;
}

h1 {
  font-family: 'Vast Shadow', cursive;
  font-size: 4rem;
  color: white;
}

h4 {
  font-family: 'Maiden Orange', cursive;
  font-size: 3rem;
  color: white;
}

#time-box {
  border: 2px dotted black;
  text-align: center;
  background-color: white;
  margin: 0 30% 0 30%;
  padding: 0.25rem;
}

/* TABLE STYLES */
.trainTable {
  background-color: #fffde7;
}

.myTableHead {
  background-color: #b36b00;
  color: white;
}

/* FORM STYLES */
h5 {
  font-family: 'Maiden Orange', cursive;
  color: #663d00;
  font-size: 2rem;
}

.addInfoButton {
  background-color: #f57f17;
  color: white;
}